body{
  background: url('./img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  position: relative;
  margin: auto;
  background-color: #343a40;
  color:whitesmoke;
  width: 500px;
  height: 200px;
  font-size: 120px;
  text-align: center;
  vertical-align: middle;
}

.brokenCloud{
  color: slategray;
}

.rain{
  color: white;

}

.date{
  font-size: 50px;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:whitesmoke;
}